.fake-header {
    height: 60px;
}

// slideshow section
#carouselExampleControls {
    border-style: solid;
    border-width: 0 0 3px 0;
}


.membersInfo img {
    max-width: 100%;
    height: auto;
}