$main-color-orance: rgb(255, 70, 21);
$main-color-siver: rgb(217, 217, 217);

@font-face {
    font-family: 'NeueMachina-Light';
    src: url('/fonts/Neue_Machina/NeueMachina-Light.otf');
}

@font-face {
    font-family: 'NeueMachina-Regular';
    src: url('/fonts/Neue_Machina/NeueMachina-Regular.otf');
}

@font-face {
    font-family: 'NeueMachina-Medium';
    src: url('/fonts/Neue_Machina/NeueMachina-Medium.otf');
}

@font-face {
    font-family: 'NeueMachina-Bold';
    src: url('/fonts/Neue_Machina/NeueMachina-Bold.otf');
}

@font-face {
    font-family: 'NeueMachina-Ultrabold';
    src: url('/fonts/Neue_Machina/NeueMachina-Ultrabold.otf');
}