@import 'variables';
@import 'header';
@import 'home';
@import 'footer';
@import 'info';
@import 'linh';
@import 'nang_exhibition';
a {
    font-family: 'NeueMachina-Regular', sans-serif;
    font-size: 38px;
}

.row {
    padding: 8px 28px 8px 32px;
    --bs-gutter-x: 0px;
}

