.footer-title-content {
    font-family: 'NeueMachina-Medium', sans-serif;
    font-size: 38px;
    display: flex;
    justify-content:center;
}

.companion {
    padding: 30px 0 50px 0;
    position: relative;
}

.companion-button {
    display: flex;
    justify-content:center;
}

.companion-button-content {
    background-color: $main-color-orance;
    color: white;
    border-radius: 60px;
    width: 400px;
    font-family: 'NeueMachina-Medium', sans-serif;
    font-size: 38px;
    display: flex;
    justify-content:center;
    padding: 7px 0 12px 0;
    text-decoration: none;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.companion-button-content:hover {
    background-color: $main-color-siver;
    color: $main-color-orance;
}

.underline {
    width: 600px;
    height: 3px;
    background-color: #000;
    position: absolute; /* Đặt phần tử underline là một vị trí tuyệt đối trong phần tử cha */
    left: 50%; /* Đặt left là 50% để đưa phần tử underline vào giữa */
    bottom: -10px; /* Đặt bottom là -10px để giữa phần tử underline và phần tử companion */
    transform: translateX(-50%); /* Dịch chuyển phần tử underline điều chỉnh 50% của chiều rộng của nó sang trái */
}

.container-footer.row {
    padding: 50px 70px 0 70px;
}

.content-footer {
    font-family: 'NeueMachina-Regular', sans-serif;
    font-size: 22px;
    text-align: justify;
}

.content-infor {
    font-family: 'NeueMachina-Regular', sans-serif;
    font-size: 28px;
    display: flex;
    align-items: flex-end;
    justify-content: end
}

.container-contact.row .logo {
    display: flex;
    align-items: flex-end;
}

.logo-footer {
    width:60px;
}

.container-contact.row .copyright {
    display: flex;
    align-items: flex-end;
    font-family: 'NeueMachina-Regular', sans-serif;
    font-size: 22px;
    color: rgb(131, 131, 131);
}

.container-contact.row {
    padding: 50px 70px 50px 70px;
    display: grid;
    grid-template-columns: 15% 45% 40%;
}

.contact {
    display: flex;
    justify-content: flex-end;
}

.contact a {
    padding: 0 0 0 40px;
}

.contact a img {
    width: 60px;
}

