@import 'variables';

#footer {
    border-style: solid;
    border-width: 3px 0 0 0;
}

.footer-title-content {
    font-family: 'NeueMachina-Medium', sans-serif;
    font-size: 35px;
    display: flex;
    justify-content:center;
}

.companion {
    padding: 30px 0 50px 0;
    position: relative;
    border-style: solid;
    border-width: 0 0 3px 0;
}

.companion-button {
    display: flex;
    justify-content:center;
}

.companion-button-content {
    background-color: $main-color-orance;
    color: white;
    border-radius: 60px;
    width: 370px;
    font-family: 'NeueMachina-Medium', sans-serif;
    font-size: 35px;
    display: flex;
    justify-content:center;
    padding: 7px 0 12px 0;
    text-decoration: none;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.companion-button-content:hover {
    background-color: $main-color-siver;
    color: $main-color-orance;
    text-decoration: none;
}

.container-footer.row {
    padding: 50px 70px 0 70px;
    align-items: flex-end;
}

.content-footer {
    font-family: 'NeueMachina-Regular', sans-serif;
    font-size: 20px;
    text-align: justify;
}

.content-infor {
    font-family: 'NeueMachina-Regular', sans-serif;
    font-size: 25px;
    display: block;
    align-items: flex-end;
    justify-content: end
}

.content-infor a {
    font-family: 'NeueMachina-Regular', sans-serif;
    font-size: 25px;
    color: black;
}

.container-contact.row .logo {
    display: flex;
    align-items: flex-end;
}

.logo-footer {
    width:50px;
}

.container-contact.row .copyright {
    display: flex;
    align-items: flex-end;
    font-family: 'NeueMachina-Regular', sans-serif;
    font-size: 20px;
    color: rgb(131, 131, 131);
}

.container-contact.row {
    padding: 50px 70px 50px 70px;
    display: grid;
    grid-template-columns: 15% 45% 40%;
}

.contact {
    display: flex;
    justify-content: flex-end;
}

.contact a {
    padding: 0 0 0 35px;
}

.contact a img {
    width: 55px;
}

@media only screen and (max-width: 768px) {
    .companion {
        padding: 20px 10px 30px 10px; // Điều chỉnh padding cho phù hợp với thiết bị di động
    }

    .footer-title-content {
        font-size: 24px; // Điều chỉnh kích thước font cho phù hợp với thiết bị di động
        text-align: center; // Căn giữa văn bản
    }

    .companion-button-content {
        font-size: 24px; // Điều chỉnh kích thước font của nút
        width: 70%;
    }

    .container-footer.row {
        padding: 30px 10px 0 10px; // Điều chỉnh padding cho phù hợp với thiết bị di động
    }

    .content-footer {
        font-size: 18px; // Điều chỉnh kích thước font cho phù hợp với thiết bị di động
    }

    .content-infor {
        padding: 15px 0 0 0;
        font-size: 20px;
    }
    .content-infor a {
        font-size: 20px;
        display: flex;
        justify-content: center;
    }

    .content-infor p {
        font-size: 20px;
        display: flex;
        justify-content: center;
    }



    .container-contact.row {
        display: block;
        padding: 20px 10px 30px 10px; 
        flex-direction: column; 
    }

    .logo {
        display: flex;
        justify-content: center;
    }

    .container-contact.row .copyright {
        padding: 10px 0 0 0;
        font-size: 14px;
        display: flex;
        justify-content: center;
    }

    .contact {
        justify-content: center; // Canh giữa các phần tử theo chiều ngang trên thiết bị di động
        align-items: center; // Canh giữa các phần tử theo chiều dọc trên thiết bị di động
    }

    .contact a {
        padding-left: 10px;
    }

    .contact a img {
        width: 40px; // Điều chỉnh kích thước của biểu tượng mạng xã hội cho phù hợp với thiết bị di động
    }
}