@import 'variables';

// animation part

.animation img {
    max-width: 100%;
    height: auto;
    border-style: solid;
    border-width: 0 0 3px 0;
}

// menu part

.menu {
    padding: 75px 0;
    border-style: solid;
    border-width: 0 0 3px 0;
}

.menu-row {
    text-decoration: none;
    color: black;
    display: grid;
    grid-template-columns: 42% 38% 20%;
    padding: 8px 28px 8px 32px;
}

.menu-row div {
    font-size: 30px;
}

.menu-row:hover {
    color: $main-color-orance;
    text-decoration: none;
}


// experienced part
.experience {
    height: 344px;
    background-color: $main-color-orance;
}

.ex-title {
    display: flex;
    justify-content:center;
}

.ex-title-content {
    font-family: 'NeueMachina-Ultrabold', sans-serif;
    font-size: 40px;
    color: white;
    padding: 40px 0 20px 0;
    margin: 0px;
}

.icon-brand {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
    padding: 0 80px;
}

.icon-brand img {
    width: 350px;
    max-width: 100%;
    height: auto;
}


@media only screen and (max-width: 768px) {
    .menu {
        padding: 20px 10px 20px 10px; // Điều chỉnh padding cho phù hợp với thiết bị di động
    }

    .menu-row {
        padding: 0;
    }

    .menu-row div {
        font-size: 12px;
        padding: 5px 0;
    }

    // experience
    .ex-title-content {
        font-size: 24px; // Điều chỉnh kích thước font cho phù hợp với thiết bị di động
        padding: 20px 0 10px 0; // Điều chỉnh padding cho phù hợp với thiết bị di động
    }

    .experience {
        height: auto; // Thiết lập chiều cao tự động để phù hợp với nội dung bên trong
        padding: 10px 10px 30px 10px; // Điều chỉnh padding cho phù hợp với thiết bị di động
    }

    .icon-brand {
        flex-direction: row; // Sắp xếp các ảnh theo chiều ngang trên thiết bị di động
        justify-content: center; // Canh giữa các ảnh theo chiều ngang
        align-items: center; // Canh giữa các ảnh theo chiều dọc
        padding: 0; // Loại bỏ padding để phù hợp với thiết bị di động
        gap: 20px; // Khoảng cách giữa các ảnh
    }

    .icon-brand img {
        max-width: 100%; // Ảnh sẽ co giãn để vừa với kích thước của phần tử cha
        height: auto; // Bảo đảm tỷ lệ chiều cao đúng tự nhiên
        width: 110px; // Điều chỉnh kích thước của các ảnh
    }
}