<div class="companion">
    <p class="footer-title-content">Let me maximise your company’s potential</p>
    <div class="companion-button">
        <a class="companion-button-content" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSeyE9_ENVWBVX2y7oKj7xNAU4sOlsR10r5YiS9Ujd8ozvtt_Q/viewform">
            companion now
        </a>
    </div>
</div>
<div class="container-footer row">
    <div class="content-footer col-md-7">mosm.b will be your dedicated companion, specializing in crafting compelling stories to highlight your brand. We are committed to turning ideas into enduring success stories, providing profound inspiration for your customers. Not just a creative team, we are a reliable partner, always ready to support you on the journey of building and developing your brand.</div>
    <div class="content-infor col-md-5 text-end">+84 898 482 903<br>mosm.duw@gmail.com</div>
</div>
<div class="container-contact row">
    <div class="logo">
        <img src="https://res.cloudinary.com/dj2krdujc/image/upload/v1709401756/black_app_logo.png" class="logo-footer">
    </div>
    <div class="copyright">
        All Rights Reserved © 2024 mosm.b branding
    </div>
    
    <div class="contact">
        <a href="https://www.facebook.com/DuongMosm/" target="_blank">
            <img src="https://res.cloudinary.com/dj2krdujc/image/upload/v1709402595/facebook.png" alt="Facebook Icon">
        </a>
        <a href="https://www.instagram.com/_hduwn.b/" target="_blank">
            <img src="https://res.cloudinary.com/dj2krdujc/image/upload/v1709402595/instagram.png" alt="Instagram Icon">
        </a>
        <a href="https://www.youtube.com/@mosm2002" target="_blank">
            <img src="https://res.cloudinary.com/dj2krdujc/image/upload/v1709402596/youtube.png" alt="Youtube Icon">
        </a>
        <a href="https://www.behance.net/duongmosm" target="_blank">
            <img src="https://res.cloudinary.com/dj2krdujc/image/upload/v1709402579/behance.png" alt="Behance Icon">
        </a>
        <a href="https://www.linkedin.com/in/mosmmosm/" target="_blank">
            <img src="https://res.cloudinary.com/dj2krdujc/image/upload/v1709402596/linkedin.png" alt="Linkedin Icon">
        </a>
        <a href="https://www.tiktok.com/@mosmnhen" target="_blank">
            <img src="https://res.cloudinary.com/dj2krdujc/image/upload/v1709402596/tiktok.png" alt="Tiktok Icon">
        </a>
    </div>
</div>
