<div class="animation">
    <img src="https://res.cloudinary.com/dj2krdujc/image/upload/v1709314046/animation.gif" alt="">
</div>
<div class="menu">
    <div class="row">
        <div class="col-md-4">Linh Gems & Jewels</div>
        <div class="col-md-4">branding</div>
        <div class="col-md-4">2024</div>
    </div>
</div>
<div class="experience">

</div>