<div class="fake-header"></div>
<div class="animation">
    <img src="https://res.cloudinary.com/dj2krdujc/image/upload/v1709314046/animation.gif" alt="">
</div>
<div class="menu">
    <a class="menu-row row" href="">
        <div class="col-md-6">Linh Gems & Jewels</div>
        <div class="col-md-4">branding</div>
        <div class="col-md-2 text-end">2024</div>
    </a>
    <a class="menu-row row" href="">
        <div class="col-md-6">Soi Exhibition</div>
        <div class="col-md-4">personal project</div>
        <div class="col-md-2 text-end">2024</div>
    </a>
    <a class="menu-row row" href="1412store">
        <div class="col-md-6">1412 Store</div>
        <div class="col-md-4">branding</div>
        <div class="col-md-2 text-end">2024</div>
    </a>
    <a class="menu-row row" href="">
        <div class="col-md-6">Bunnie</div>
        <div class="col-md-4">team/personal project</div>
        <div class="col-md-2 text-end">2023</div>
    </a>
    <a class="menu-row row" href="">
        <div class="col-md-6">TAN musical night</div>
        <div class="col-md-4">photo</div>
        <div class="col-md-2 text-end">2023</div>
    </a>
    <a class="menu-row row" href="nang_exhibition">
        <div class="col-md-6">Nặng Exhibition</div>
        <div class="col-md-4">team project</div>
        <div class="col-md-2 text-end">2022</div>
    </a>
    <a class="menu-row row" href="">
        <div class="col-md-6">Other</div>
        <div class="col-md-4"> </div>
        <div class="col-md-2 text-end">2020-2024</div>
    </a>
</div>
<div class="experience">
    <div class="ex-title">
        <h3 class="ex-title-content">/experienced/</h3>
    </div>
    <div class="icon-brand">
        <img class="col-md-4" src="https://res.cloudinary.com/dj2krdujc/image/upload/v1709381777/greenwich_logo.png" alt="Greenwich">
        <img class="col-md-4" src="https://res.cloudinary.com/dj2krdujc/image/upload/v1709381778/gnews_logo.png" alt="GNews Club">
        <img class="col-md-4" src="https://res.cloudinary.com/dj2krdujc/image/upload/v1709381778/horus_logo.png" alt="Horus Agency">    
    </div>
</div>