{{!-- <div class="fake-header"></div> --}}
<div class="animation">
    <img src="https://res.cloudinary.com/dj2krdujc/image/upload/v1712347522/banner-home.gif" alt="">
</div>
<div class="menu">
    <a class="menu-row" href="linh">
        <div class="">Linh Gems & Jewels</div>
        <div class="">branding</div>
        <div class="text-end">2024</div>
    </a>
    <a class="menu-row" href="soi_exhibition">
        <div class="">Soi Exhibition</div>
        <div class="">personal project</div>
        <div class="text-end">2024</div>
    </a>
    <a class="menu-row" href="1412store">
        <div class="">1412 Store</div>
        <div class="">branding</div>
        <div class="text-end">2024</div>
    </a>
    <a class="menu-row" href="bunnie">
        <div class="">Bunnie</div>
        <div class="">team/personal project</div>
        <div class="text-end">2023</div>
    </a>
    <a class="menu-row" href="tan">
        <div class="">TAN musical night</div>
        <div class="">photo</div>
        <div class="text-end">2023</div>
    </a>
    <a class="menu-row" href="nang_exhibition">
        <div class="">Nặng Exhibition</div>
        <div class="">team project</div>
        <div class="text-end">2022</div>
    </a>
    <a class="menu-row" href="">
        <div class="">Other</div>
        <div class=""> </div>
        <div class="text-end">2020-2024</div>
    </a>
</div>
<div class="experience">
    <div class="ex-title">
        <h3 class="ex-title-content">/experienced/</h3>
    </div>
    <div class="icon-brand">
        <img class="col-md-4" src="https://res.cloudinary.com/dj2krdujc/image/upload/v1709381777/greenwich_logo.png" alt="Greenwich">
        <img class="col-md-4" src="https://res.cloudinary.com/dj2krdujc/image/upload/v1709381778/gnews_logo.png" alt="GNews Club">
        <img class="col-md-4" src="https://res.cloudinary.com/dj2krdujc/image/upload/v1709381778/horus_logo.png" alt="Horus Agency">    
    </div>
</div>