<div class="fake-header"></div>

<div class="imgDefault">
    <img src="https://res.cloudinary.com/dj2krdujc/image/upload/v1710175196/Profile/profile_header.png">
</div>
<div class="imgDefault">
    <img src="https://res.cloudinary.com/dj2krdujc/image/upload/v1710174199/Profile/profile_body.jpg">
</div>