<div class="fake-header"></div>

<div class="imgDefault">
    <img src="https://res.cloudinary.com/dj2krdujc/image/upload/v1710175196/Profile/profile_header.png">
    <div class="slogan">
            <p>"Design is the language of understanding, where ideas become visuals, and beauty is a language everyone can comprehend."</p>
    </div>
    <div class="linkIN">
        <a class="rowlinkIN" href="https://www.facebook.com/DuongMosm/" target="_blank">
            <p class="titleLinkIN">facebook:</p>
            <p class="bodyLinkIN">Hai Duong</p>
        </a>
        <a class="rowlinkIN" href="https://www.instagram.com/_hduwn.b/" target="_blank">
            <p class="titleLinkIN">instagram:</p>
            <p class="bodyLinkIN">_hduwn.b</p>
        </a>
        <a class="rowlinkIN" href="https://www.behance.net/duongmosm?log_shim_removal=1" target="_blank">
            <p class="titleLinkIN">designer:</p>
            <p class="bodyLinkIN">LE VIET HAI DUONG</p>
        </a>
    </div>
</div>
<div class="imgDefault">
    <img src="https://res.cloudinary.com/dj2krdujc/image/upload/v1710174199/Profile/profile_body.jpg">
</div>